body {
    background-color: #faf9fa;
    box-sizing: border-box;
    max-width: 100%;
}

/* Navigation starts here */

img.logo1 {
    margin: 35px;
    width: 6rem;
    }

    ul a.nav {
        color:#01506F;
        font-family: 'Heebo', sans-serif;
        font-weight: 400;
    }

/* Navigation ends here */
/* header text starts here */

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    color:#01506F;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
}

h1 {
    color:#01506F;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    width: 1100px;
}

.paragraph {
    color:#01506F;
    font-weight: 300;
    text-align: center;
    margin-bottom: 4rem;
}


/* header text ends here */

/* the form starts here */

.info {
    display: flex;
    justify-content: center;
}

.form input {
    background:#f6f6f6;
    padding: 1.2rem 20rem 1.2rem 1.2rem;
    margin-bottom: 1.8rem;
    border-radius: 4px;
    border: 1px solid #01506F;
}

::placeholder {
    color: #eb8d5e;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    opacity: 70%;
}

.button {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    margin-right: 4.5rem;
    margin-bottom: 2rem;
}

.forms1 {
    width: 140px;
    height: 40px;
    background: #f6f6f6; 
    border: 2px solid #01506F;
    border-radius: 4px;
    color: #01506F;
    opacity: 50%;
    line-height: 19px;
    padding: 4px 25px 0px 25px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 200ms ease;
 }
 .forms1:hover {
    background: #9aa1bd;
    color: #faf9fa;
 }

 .forms1:active {
    background: #01506F;
    color: #faf9fa;
 }
 .forms2 {
    width: 140px;
    height: 40px;
     background: #eb8d5e;
     border: none;
     border-radius: 4px;
     color: #faf9fa;
     line-height: 19px;
     padding: 10px 25px 6px 25px;
     font-family: 'Heebo', sans-serif;
     font-weight: 300;
     font-size: 1.5rem;
     text-transform: uppercase;
     transition: all 200ms ease;
 }

 .forms2:hover {
    background: #be6538;
 }

 .forms2:active {
    background: #d16a11;
 }
/* the form ends here */


/* Side info starts here */

.side-info {
    display:block;
    justify-content: flex-start;
    margin-left: 10em;
}

.contact-info {
    display: flex;
    margin-bottom: .5rem
}

h2.contact-info{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;  
    align-items: baseline;
    color: #01506F;
}

img.contact-info {
    width:4rem;
    height: 3rem;
    margin-top: 0.2rem;
    margin-left: 2rem;
}

.orange {
    display: flex;
}

.phone {
    color: #eb8d5e;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
}
.email {
    color: #eb8d5e;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
}

.info-text {
    color: #01506F;
    font-weight: 300;
    padding-bottom: 1rem;
}

.info-text1 {
    color: #01506F;
    font-weight: 300;
    padding-bottom: 1rem;
}

.email,.info-text1 {
    margin-top: -1.3rem;
}

/* Side info ends here */

























