body {
    background-color: #01506F;
    color: #faf9fa;
}

/* navigation starts here */

.header {
 height: 810px;
}

/* navigation ends here */

/* header starts here */

.header-info-main {
    display: flex;
    justify-content: center;
}

h1.design-process {
    font-size: 4.5rem;
    font-weight: 500;
    margin-left: 7.7rem;
    margin-bottom: 1rem;
}

p.design-process {
    font-weight: 200;
    margin-left: 8.3rem;
    margin-bottom: 3rem;
    max-width: 51.9ch;
}

img.design-process {
    width: 20rem;
    height: 13rem;
    border-radius: 5px;
    opacity: 70%;
    margin-left: 3rem;
    margin-bottom: 2em;
}

img.design {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.ux {
    display: flex;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-right: 3rem;
}

.par1 p {
    max-width: 30ch;
    padding-right: 1rem;
}

.par2 p {
    max-width: 35ch;
    padding-right: 1rem;
}

.par3 p {
    max-width: 38ch;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

button.head6 {
    margin-left: -0.1rem;
    margin-bottom: 3rem;
}

/* header ends here */

/* previous work starts here */

.previous {
    background-color: #faf9fa;
    height: 29rem;
    padding: 2rem;
}

.previous1 {
   
    font-size: 3rem;
    color:#01506F;
    margin-left: 4.5rem;
    padding-bottom: 2rem;

}

.previous2 {
    display: flex;
    justify-content: space-evenly;
}

.previous3 {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-right: 1rem;
}

img.previous2 {
    border-radius: 4px;
}
/* previous work ends here */



