body {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    color: #faf9fa;
}

/* Landing Page starts here */

.landing-page {
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin-left: 6rem;
}

.header1 {
    align-items: baseline;
    display: flex;
    margin: -3.5rem 0rem 2rem 8.3rem;
}

.head1 {
    font-size: 4rem;
    font-weight: 700;    
}

.header2 {
    margin-left: 1rem;
}

.head2 {
    font-size: 3rem;
    font-weight: 500;
    padding: .625rem;
    letter-spacing: 0.5rem;
}

.head3 {
    font-weight: 100;
    margin-bottom: 1rem;
    margin-left: 7.3rem;
    margin-top: -2rem;
    font-size: 2rem;
    padding-top: 2rem;
    max-width: 35ch;
    line-height: 2.5rem;
    letter-spacing: 0.5rem;
}

.head4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 100;
    max-width: 43ch;
    margin-left: 7.4rem;
}

.head5 {
    color: #eb8d5e;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    max-width: 35ch;
    margin-left: 7.3rem;
}

/* Landing Page end here */

/* UX Process starts here */

.ux-process {
    background-color: #faf9fa;
    display: flex;
    height: 29rem;
    justify-content: center;
    padding: 3rem;
}

.design-process-text {
    padding-left: 6rem;
}

img.design-process {
    width: 22rem;
    height: 23rem;
    margin-right:7rem;
}

h2.design-process {
    font-weight: 600;
    font-size: 3rem;
    color: #1d2338;
    padding-bottom: 1rem;
}

p.design-process {
    color: #1d2338;
    max-width: 50ch;
    padding-bottom: 1rem;
    font-weight: 200;
}

/* UX Process ends here  */

/* Previous Work starts here */

.previous {
    height: 29rem;
    background-color: #1d2338;
    padding: 2rem;
}

.previous1 {
    font-size: 3rem;
    color:#faf9fa;
    margin-left: 12rem;
    padding-bottom: 2rem;
}

.previous2 {
    display: flex;
    justify-content: space-evenly;
}

.previous3 {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-right: 1rem;
}

img.previous2 {
    border-radius: 4px;
}