html {
    -webkit-text-size-adjust: 100%;
    max-height: 100%;
    width:100%;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
}

form {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

textarea {
    position: relative;
    right: 0.6rem;
    border: 1px solid #01506F;
    border-radius: 4px;
    background:#f6f6f6;
    color: #eb8d5e;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    position: relative;
    padding: 0.625rem;
    font-size: 1rem;
    opacity: 70%;
    margin-bottom: 1rem;
}

#name {
    position: relative;
    right: 0.2rem;
}

label {
    margin-right: 2rem;
    font-size: 1.5rem;
    color: #01506F;
}

input {
    opacity: 70%;
}

strong {
    color: #eb8d5e;
    text-decoration: none;
}

/* Navigation Starts here */

img.logo1 {
    width: 9.3rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.page-links {
    display: flex;
    padding: 2.5rem;
    z-index: 2;
}

.page-links ul a {
    color: #faf9fa;
    font-family: 'Raleway', sans-serif;
    padding-right: 2rem;
    text-decoration: none;
}

.page-links ul a:hover {
    color: rgb(142, 227, 227);
}

/* Navigation ends here */

/* Buttons start here */
button.head6 {
    min-width: 140px;
    min-height: 40px;
    background: transparent;
    border-radius: 6px;
    border: solid 3px #eb8d5e;
    color: #eb8d5e;
    font-size: 0.8rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 3rem;
    margin-left: 7.3rem;
    padding: 4px 25px 0px 25px;
    text-transform: uppercase;
    transition: all 200ms ease;
}

button.head6:hover {
    background: #eb8d5e72;
    color: #d2c8bf;
}

button.head6:active {
    background: #ab5a13;
    color: #f3ede8;
}

button.works3 {
    min-width: 140px;
    min-height: 40px;
    background: transparent;
    border-radius: 6px;
    border: solid 3px #eb8d5e;
    color: #eb8d5e;
    font-family: 'Heebo', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 19px;
    margin-top: 1rem;
    padding: 4px 15px 0px 15px;
    text-transform: uppercase;
    transition: all 200ms ease;
}

button.works3 a {
    color: #eb8d5e;
    text-decoration: none;
}

button.works3:hover {
    background: #eb8d5e72;
    color: #01506F;
}

button.works3:active {
    background: #eb8d5e;
    color: #01506F;
}
/* Buttons end here */

/* Footer starts here */
footer {
    background-color: #01506F;
    color: #faf9fa;
    display: flex;
    min-height: 15rem;
    justify-content: space-evenly;
    padding: 2rem;
}

p.footer2 {
    color: #eb8d5e;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 1rem;
}

img.logo-footer {
    max-width: 9.3rem;
    margin-left: -1.3rem;
    margin-right: 12rem;
}

.footer2 {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
    margin-left: 2rem;
    padding-bottom: 1rem;

}

.footer {
    font-size: 1.375em;
    font-weight: 300;
    padding-bottom: 1rem;
    
}


.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info-footer1,
.footer-info-footer2 {
    display: flex;
    margin-left: -2rem;
}

.footer-info-footer1 {
    margin-bottom: -2rem;
}

.info {
    font-size: 1rem;
}

.copyright {
    font-size: 0.75rem;
    margin-top: 3.5rem;
}

.social {
    padding-bottom: 0.625rem;
    padding-right: 0.75rem;
    
}
/* Footer ends here */