body {
    background-color: #01506F;
    box-sizing: border-box;
    max-width: 100%;
}
/* header starts here */

.project-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2em 0;
}

.project {
    color: #faf9fa;
    max-width: 40ch;
}

#project {
    max-width: 30em;
    margin: 0 2em 0 0;
}

/* header ends here */

/* Anirak Irafaj project info starts here */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.project-info {
    display: flex;
    justify-content: center;
    color: #faf9fa;
}

#column-one {
    padding: 0 2em;
}

.text-one {
    margin-bottom: 9.7em;
}

.text-two {
    margin-bottom: 2.4em;
}

#column-two {
    max-width: 75ch;
    padding: 1em 3em;
}

#project-images {
    max-width: 29em;
    max-height: 32em;
}

.images {
    width: 15rem;
    height: 13rem;
    position: absolute;
}

img.two {
    position: relative;
    top: 25%;
    left: 25%;
}

img.three {
    position: relative;
    top: 15%;
    left:48%;
    z-index: -1;
}

/* Anirak Irafaj project info ends here */

/* Roar bikes project starts here */

.second {
    background-color: #faf9fa;
    max-height: 60em;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    padding: 3em;
}

.project-info.two {
    display: flex;
    justify-content: center;
    color: #302D36;
}

#column-one_dark{
    padding: 0 3.8em;
}

.text-one_dark {
    margin-top: 1.9em;
    margin-bottom: 7.9em;
}

.text-two_dark {
    margin-bottom: 2.4em;
}
#column-two_roar {
    max-width: 75ch;
}

.roar-logo {
    display: flex;
    align-items: center; 
}

.roar-dark {
    font-size: 2rem;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}
img.roar-logo {
    max-width: 7.7rem;
}

.text-five_dark {
    margin-bottom: 1rem;
    margin-top: -0.8em;  
  }

.text-six_dark {
    margin-bottom: 1rem;
  }

.roar-image {
    max-width: 29em;
    max-height: 20em;
    padding-left: 4rem;
    padding-top: 7rem;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -24.5em;
}

.extra-info {
    max-width: 38ch;
}

button.head6 {
    margin-left: 0;
}

/* Roar bikes project ends here */


