body {
    background-color: #01506F;
    box-sizing: border-box;
    max-width: 100vw;
}

/* header starts here */

.project-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    margin-bottom: 1rem;
}

p.project {
    color: #faf9fa;
    max-width: 40ch;
    margin-left: 7.3rem;
    font-weight: 100;
}

img.project {
    width: 40rem;
    opacity: 85%;
}

/* header ends here */

/* Anirak Irafaj project info starts here */

img.anirak-logo {
    padding-bottom: 2rem;
    margin-left: 23.5rem;
    margin-bottom: -6rem;
}

.project-info {
    display: flex;
    justify-content: left;
    padding: 5rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.project-base {
    display: flex;
}

.column-one {
    color: #faf9fa;
    margin-left: 5rem;
    font-size: 1.5rem;
    min-width: 15ch;
    margin-top: 0.5rem; 
}

.text-one {
    margin-bottom: 7.6rem;
}

.text-two {
    margin-bottom: 3.4rem;
}

.text-three {
    
}

.column-two {
    color: #faf9fa;
    margin-left: 2rem;
    max-width: 80ch;
    margin-right: 3rem;
}

.text-four {
    font-size: 2rem;
    font-family: 'IM FELL ENGLISH SC', sans-serif;
    margin-bottom: 1rem;
    /* padding-bottom: 1rem; */
}

em {
    padding-bottom: 1rem;
}

.text-five {
    padding-bottom: 1rem;
    margin-top: -1rem;
}

.text-six {
    padding-bottom: 1rem;
}

.project-images {
    /* border: .2px solid #faf9fa; */
    position: relative;
    max-width: 606px;
    min-height:560px;
    margin-top: -4em;
}

.images-one {
    position: absolute;
}
.images-two {
    position: absolute;
    z-index: 1;
    left: 75%;
    top: 30%;
    transform: translate(60%,0%);  
}

.images-three {
    position: absolute;
    left: 0%;
    top: 60%;
    transform: translate(120%,0%);
}

/* Anirak Irafaj project info starts here */

/* Roar bikes project starts here */

.roar {
    max-width: 100%;
    max-height: 60rem;
    background-color: #faf9fa;
    padding: 3rem;
}

.project-info1 {
    display: flex;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.project-base1 {
    display: flex;
}

.column-one1 {
    margin-left: 5rem;
    min-width: 15ch;
    margin-top: 2.7rem;
}

.text-one1 {
    margin-bottom: 11rem;   
}

.text-two1 {
    margin-bottom: 1rem;
}

.text-three1 {

}

.column-two1{
    margin-left: 6rem;
    max-width: 80ch;
    margin-right: 2rem;
    font-weight: 200;
    color: #1d2338;
}

.roar-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #1d2338;
    margin-bottom: -2rem;
}

.roar-b {
    width: 7.7rem;
}

.text-four1 {
    font-size: 2rem;
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
}

.text-five1 {
  margin-bottom: 1rem;  
}

.text-six1 {
    margin-bottom: 1rem;
}

.text-seven1 {
    margin-bottom: 2rem;
}

.roar-image {
    width: 32rem;
    height: 19.5rem;
    margin-left: 4rem;
    margin-top: 7rem;
}

.extra-info {
    max-width: 38ch;
    padding-left: 7rem;
    margin-bottom: 1rem;
}

button.head6 {
    margin-bottom: 2rem;
}

button.head6:hover {
    color: #01506F;
}

button.head6:active {
    color: #faf9fa;
}

/* Roar bikes project ends here */


